.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.container-md {
    max-width: 50rem;
}

.container-lg {
    max-width: 100rem;
}

.container-xl {
    max-width: 99rem;
}

.container-fluid {
    max-width: 100%;
}