* {
    font-family: "Open Sans";
}

.content-register-login {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-register-login .card {
    max-width: 370px;
    border-radius: 8px;
    border: 1px solid var(--color-white-250);
}

.content-register-login .card-header .icon-back {
    color: var(--color-blue-500);
    font-size: 1.5rem;
    cursor: pointer;
}

.content-register-login .card-body .sub-title {
    color: var(--color-white-300);
    font-size: 0.85rem;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

.content-register-login .card-body button {
    width: 100%;
    display: flex;
}

.content-register-login .card-body button span {
    font-size: calc(var(--fs-1) - 0.1);
    font-weight: 600;
    padding: 0.3rem 0rem;
}

.content-register-login .card-body button i {
    font-size: 1.3rem;
}

.content-register-login .card-body .input-checkbox {
    margin-top: 1.4rem;
}

.content-register-login .card-footer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 2rem;
}

.content-register-login .card-footer .sub-title {
    color: var(--color-white-300);
    font-size: 0.85rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.content-register-login .card-footer a {
    color: var(--color-blue-500);
    font-weight: bold;
    font-size: 0.9rem;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Open Sans';
    transition: all 300ms;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.input-checkbox {
    position: relative;
    font-size: .9rem;
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-checkbox input {
    transition: all 200ms;
}

.input-checkbox input+label {
    transition: all 200ms;
    border-radius: 1px;
    width: auto;
}

.input-checkbox input:focus:not(:focus-visible) {
    outline: none;
}

.input-checkbox input:focus+.checkbox-label {
    position: relative;
}

.checkbox-label {
    cursor: pointer;
    display: inline-block;
}

.checkbox-label::before {
    content: "" !important;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border: 2px solid #c5c5c5;
    margin-right: 8px;
}

.checkbox-label:hover::before {
    background-color: whitesmoke;
}

.checkbox-svg input:checked+.checkbox-label-svg::before {
    background: #3863d9;
    border-color: var(--color-blue-500);
}

.checkbox-svg input:checked+.checkbox-label-svg .checkbox-icon-svg-path {
    stroke: #fff;
    stroke-dashoffset: 0;
}

.checkbox-label-svg {
    padding-left: 2em;
}

.checkbox-label-svg::before {
    position: absolute;
    left: 0;
    top: 1px;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .25em;
    transition: all 0.125s ease-out;
}

svg {
    position: absolute;
    left: 3px;
    top: 1px;
    width: 12px;
    height: 19px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    user-select: none;
}

.checkbox-icon-svg-path {
    stroke-dashoffset: 111.46px;
    stroke-dasharray: 111.46px;
    stroke: #3863d9;
    transition: all 0.125s ease-out;
    transition-delay: 50ms;
}


.label {
    margin-top: 4px;
}