footer {
    background-color: var(--color-black-500);
    color: var(--color-white-100);
    font-family: 'Open Sans';
}

footer .menu-item {
    max-width: 14rem;
}

footer .menu-item a {
    color: var(--color-white-100) !important;
    font-size: 0.9rem;
    line-height: 1.9rem;
}

footer .footer-main {
    border-bottom: 1px solid var(--color-white-100);
}

footer .footer-main h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

footer .footer-main .infos-sobre {
    max-width: 30rem;
}

footer .footer-main .infos-sobre-lista {
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .footer-main .acompanhe-redes-sociais h3 {
    margin: 1rem 0;
}

footer .footer-main .acompanhe-redes-sociais ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .footer-main .acompanhe-redes-sociais ul li a {
    color: var(--color-white-100);
}

footer .footer-main .acompanhe-redes-sociais ul li a i {
    font-size: 2rem;
}

footer .footer-bottom ul {
    display: flex;
    gap: 3rem;
}

@media only screen and (max-width: 600px) {
    footer .footer-main .infos-sobre-lista {
        height: 35rem;
    }

    .footer-bottom ul {
        flex-direction: column;
        gap: 1rem !important;
    }

    .acompanhe-redes-sociais .btn {
        font-size: 0.7rem;
    }
}