  @font-face {
    font-family: 'Porto Roobert';
    src: url('./static/PortoRoobert-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Porto Roobert';
    src: url('./static/PortoRoobert-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Porto Roobert';
    src: url('./static/PortoRoobert-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }