.main {
    margin-bottom: 2rem;
}

.main-img {
    background-image: url("../../../../public/assets/images/public/home/main.jpg");
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    max-width: 100%;
    background-size: cover;
}

.main-col-text {
    height: 450px;
    background-color: var(--color-blue-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-col-text p {
    font-family: "Porto Roobert";
    font-weight: 400;
    width: 90%;
    line-height: 1.8rem;
    font-size: 1.3rem;
    margin: 1.1rem 0px;
}