@import url('../public/assets/fonts/open-sans/font.css');
@import url('../public/assets/fonts/porto-roobert/font.css');
@import url('../public/assets/css/public/theme.css');

/**
 * ########################################
 * VARIABLES
 * ########################################
 */
:root {
    --font-primary: 'Porto Robert';
    --font-secondary: 'Open Sans' !important;

    --color-white-50: rgb(238, 249, 255);
    --color-white-80: rgb(247, 247, 247);

    --color-white-100: rgb(255, 255, 255);
    --color-white-200: rgb(224, 224, 224);
    --color-white-230: rgb(155 155 155);
    --color-white-250: rgb(195 195 195);
    --color-white-300: rgb(95, 95, 95);

    --color-white-300-hover: rgb(255, 255, 255, 0.3);

    --color-blue-50: rgb(209, 239, 254);
    --color-blue-100: rgb(177, 226, 253);
    --color-blue-200: rgb(102, 197, 252);
    --color-blue-300: rgb(102, 197, 252);
    --color-blue-400: rgb(0, 160, 251);
    --color-blue-500: rgb(38, 98, 200);
    --color-blue-550: rgb(0, 70, 192);
    --color-blue-600: rgb(10, 0, 71);

    --color-blue-100-hover: rgb(19, 129, 226);
    --color-blue-200-hover: rgb(46, 49, 133);
    --color-blue-300-hover: rgb(46, 49, 133);

    --color-black-100: rgb(64, 64, 64);
    --color-black-150: rgb(64, 64, 64);
    --color-black-200: rgb(31, 31, 31);
    --color-black-300: rgb(20, 20, 20);
    --color-black-500: rgb(0, 0, 0);

    --color-red-100: rgb(166, 52, 29);
    --input-border-color: #b3b3b3;

    --color-button-disabled: rgb(224, 224, 224);
    --fs-1: 1rem;
    --fs-1-medium: 1.5rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
    --fs-4: 4rem;
    --fs-5: 5rem;
    --fs-6: 6rem;
    --fs-7: 7rem;
}

/**
 * ########################################
 * ALL
 * ########################################
 */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/**
 * ########################################
 * HTML
 * ########################################
 */
html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    font-family: 'Porto Roobert';
}


/**
 * ########################################
 * ROTATE
 * ########################################
 */
.rotate-90 {
    rotate: 180deg;
}

.rotate-180 {
    rotate: 180deg;
}

.rotate-360 {
    rotate: 360deg;
}

#preloader circle {
    stroke-width: 5.5;
}